---
import "../styles/global.css";
const { title = "evanhobson.com" } = Astro.props;
---

<html lang="en" class="bg-background text-text-primary">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title}</title>
  </head>

  <body class="font-sans antialiased leading-relaxed">
    <main class="max-w-3xl mx-auto px-6 py-12">
      <slot />
    </main>
  </body>
</html>
